{% extends 'layouts/main.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb float-sm-end">
    <li class="breadcrumb-item"><a href="/">Início</a></li>
    <li class="breadcrumb-item"><a href="/empresa/lista">Lista de empresas</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalhes da empresa</li>
</ol>
{% endblock %}

{% block main %}
<form id="form">
    <input type="hidden" id="action" name="action" value="{{ action }}">
    <input type="hidden" id="id" name="id" value="{{ id }}">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="/empresa/lista" class="btn btn-warning">
                        <i class="fa-solid fa-chevron-left"></i>
                        Voltar
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input autofocus type="text" class="form-control" id="nomeExibicao" name="nomeExibicao"
                                    placeholder="Nome fantasia" value="{{ enterprise.fantasia }}" required>
                                <label for="nomeExibicao">Nome fantasia</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="nomeLegal" name="nomeLegal"
                                    placeholder="Razão social" value="{{ enterprise.razao_social }}">
                                <label for="nomeLegal">Razão social</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="numeroDocumento" name="numeroDocumento"
                                    placeholder="CNPJ" value="{{ enterprise.cnpj }}">
                                <label for="numeroDocumento">CNPJ</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="registroSecundario"
                                    name="registroSecundario" placeholder="Inscrição estadual"
                                    value="{{ enterprise.ie }}">
                                <label for="registroSecundario">Inscrição estadual</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="icheck-primary d-inline">
                                    <input class="form-check-label" type="checkbox" id="ativo" name="ativo" value="true"
                                        {% if enterprise.ativo==1 %} checked {% endif %}>
                                    <label for="ativo">Ativo?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button id="insert" type="button" class="btn btn-success">
                        <i class="fa-solid fa-floppy-disk"></i>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
{{ vite('resources/js/pages/enterprise.js') }}
{% endblock %}