{% extends 'layouts/main.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb float-sm-end">
    <li class="breadcrumb-item"><a href="/">Início</a></li>
    <li class="breadcrumb-item"><a href="/produto/lista">Lista de produtos</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalhes do produto</li>
</ol>
{% endblock %}

{% block main %}
<form id="form">
    <input type="hidden" id="action" name="action" value="{{ action }}">
    <input type="hidden" id="id" name="id" value="{{ id }}">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="/produto/lista" class="btn btn-warning">
                        <i class="fa-solid fa-chevron-left"></i>
                        Voltar
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input autofocus type="text" class="form-control" id="nome" name="nome"
                                    placeholder="Nome do produto" value="{{ product.nome }}" required>
                                <label for="nome">Nome do produto</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="codigo_barra" name="codigo_barra"
                                    placeholder="Código de barras" value="{{ product.codigo_barra }}">
                                <label for="codigo_barra">Código de barras</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="unidade" name="unidade"
                                    placeholder="Unidade" value="{{ product.unidade }}">
                                <label for="unidade">Unidade</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="preco_compra" name="preco_compra"
                                    placeholder="Preço de compra" value="{{ product.preco_compra }}">
                                <label for="preco_compra">Preço de compra</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="preco_venda" name="preco_venda"
                                    placeholder="Preço de venda" value="{{ product.preco_venda }}">
                                <label for="preco_venda">Preço de venda</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <div class="icheck-primary d-inline">
                                    <input class="form-check-label" type="checkbox" id="ativo" name="ativo" value="true"
                                        {% if product.ativo==1 %} checked {% endif %}>
                                    <label for="ativo">Ativo?</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a comment here" id="descricao"
                                        name="descricao" style="height: 100px"></textarea>
                                    <label for="descricao">Descrição do produto</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button id="insert" type="button" class="btn btn-success">
                        <i class="fa-solid fa-floppy-disk"></i>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
{{ vite('resources/js/pages/product.js') }}
{% endblock %}