{% extends 'layouts/main.html' %}

{% block breadcrumbs %}
<ol class="breadcrumb float-sm-end">
    <li class="breadcrumb-item"><a href="/">Início</a></li>
    <li class="breadcrumb-item"><a href="/usuario/lista">Lista de usuários</a></li>
    <li class="breadcrumb-item active" aria-current="page">Detalhes do usuário</li>
</ol>
{% endblock %}

{% block main %}
<form id="form">
    <input type="hidden" id="action" name="action" value="{{ action }}">
    <input type="hidden" id="id"     name="id"     value="{{ id }}">
    <div class="row">
        <div class="col-12">
            <div class="card">
                <div class="card-header">
                    <a href="/usuario/lista" class="btn btn-warning">
                        <i class="fa-solid fa-chevron-left"></i>
                        Voltar
                    </a>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input autofocus type="text" class="form-control"
                                    id="nome" name="nome"
                                    placeholder="Nome"
                                    value="{{ user.nome }}" required>
                                <label for="nome">Nome</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control"
                                    id="sobrenome" name="sobrenome"
                                    placeholder="Sobrenome"
                                    value="{{ user.sobrenome }}">
                                <label for="sobrenome">Sobrenome</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control"
                                    id="cpf" name="cpf"
                                    placeholder="CPF"
                                    value="{{ user.cpf }}">
                                <label for="cpf">CPF</label>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control"
                                    id="rg" name="rg"
                                    placeholder="RG"
                                    value="{{ user.rg }}">
                                <label for="rg">RG</label>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="form-group">
                                <div class="icheck-primary d-inline">
                                    <input type="hidden" name="ativo" value="false">
                                    <input class="form-check-label" type="checkbox"
                                        id="ativo" name="ativo" value="true"
                                        {% if user.ativo == 1 %} checked {% endif %}>
                                    <label for="ativo">Ativo?</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12 mb-2">
                            <div class="form-group">
                                <div class="icheck-primary d-inline">
                                    <input type="hidden" name="administrador" value="false">
                                    <input class="form-check-label" type="checkbox"
                                        id="administrador" name="administrador" value="true"
                                        {% if user.administrador == 1 %} checked {% endif %}>
                                    <label for="administrador">Administrador?</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <button id="insert" type="button" class="btn btn-success">
                        <i class="fa-solid fa-floppy-disk"></i>
                        Salvar
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}

{% block script %}
{{ vite('resources/js/pages/users.js') }}
{% endblock %}